# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks
RewriteEngine on
RewriteBase /
RewriteRule ^PronoHebdo$  listing.php?site=1 [L]
RewriteRule ^Tux-is-alive  listing.php?site=2 [L]
RewriteRule ^Flex-Google  listing.php?site=3 [L]
RewriteRule ^Poker-2012  listing.php?site=4 [L]
RewriteRule ^ASM-Musculation  listing.php?site=5 [L]
RewriteRule ^PolyCount  listing.php?site=6 [L]
RewriteRule ^OneSMS  listing.php?site=7 [L]

RewriteRule ^La-Cognitique  index.php [L]
RewriteRule ^CV  cv.php [L]
RewriteRule ^Historique  log.php [L]
RewriteRule ^Accessibilite  accessibilite.php [L]
RewriteRule ^Contact  contact.php [L]
