
@import url("jquery.lightbox-0.5.css");
@import url("jquery.jqplot.min.css");


body {
	margin : 0;
	padding : 0;
	background-color:#f4f4f4;
	color : #444444;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	background-repeat:repeat;
}

.clear_both{
	clear:both;}

h1 {
	margin-top : 0;
	font-weight : normal;
	font-size : 2.0em;
}

h2, h3 {
	margin-top : 0;
	font-weight : bold;
}

h2 {
	font-size : 1.4em;
	color : #333333;
}

h3 {
	font-size : 1.3em;
}

p {
	margin-bottom : 1.8em;
}

a {
	color : #000000;
}
a:hover {
	text-decoration : none;
	color : #2C5394;
}
a img {
	border : none;
}

acronym{
	border-bottom:1px dashed black;
}


#wrapper {
	width : 1000px;
	margin : 0px auto;
	border:1px solid #dbdbdb;
	border-top:0px;
	background-color:#F8F8F8;
}

#header {
	width : 1000px;
	height : 81px;
	margin : 0 auto;
}

#header a {
	text-decoration : none;
	color:#333333;
	font-weight:bold;
	text-shadow: 0px 2px 3px #fff;
}

#header-barre {
	height : 15px;
	margin-bottom : 5px;
	background-color:#666;
}

#logo {
	position:relative;
	height:83px;
	padding-left : 20px;
}
#logo h1, #logo p {
	margin : 0;
	color:#333333;
	text-shadow: 0px 2px 3px #fff;
	font-weight:bold;
}

#logo h1{
	padding : 10px 0 5px 0;}

#logo p {
	color:#666;
	font-size:1.3em;
}
#logo a:hover {
	text-decoration : underline;
}
#logo img{
	position:absolute;
	right:0px;
	top:0px;
}

.mots_clefs{
	height:0px;
	color:#FFFFFF;
	display:none;}

#page {
	width : 1000px;
	margin : 0 auto;
	padding : 2px 0 0 0;
	background : #FFF;
}
.go_mobile{
	width:1000px;
	height:25px;
	line-height:25px;
	text-align:center;
	border-top:1px solid #dbdbdb;
}

.go_mobile a{
	
}
.go_mobile a:hover{
}

#sidebar {
	float : left;
	width : 180px;
	text-align : left;
}

#sidebar h3 {
	margin : 15px 0px 10px 15px;
}

#sidebar ul {
	padding : 0 0 5px 0;
	margin : 0;
	list-style : none;
}
#sidebar li li {
	margin : 10px 10px 5px 25px;
	line-height : 18px;
	padding-left : 15px;
	border-bottom : 1px dashed #bdbdbd;
	background : url(images/img04.jpg) no-repeat left 50%;
}
#sidebar li ul {
	margin-bottom : 1em;
	list-style : none;
}
#sidebar li .competences {
	margin : 10px 10px 5px 10px;
	line-height : 18px;
	padding-left : 0;
	border-bottom : 0;
	background : none;
}
#sidebar li .social {
	margin : 10px 10px 5px 20px;
	line-height : 18px;
	padding-left : 0;
	border-bottom : 0;
	background : none;
}
#sidebar li .social_cog {
	margin : 10px 10px 5px 5px;
	line-height : 18px;
	padding-left : 15px;
	border-bottom : 0;
	background : none;
	background : url(images/img04.jpg) no-repeat left 50%;
}
#sidebar h2 {
	padding : 7px 0px 7px 15px;
	background-color:#333333;
	color:#FFF;
	margin-left:-9px;
	border-bottom:2px solid #999;
	border-left:2px solid #999;
}
#sidebar a {
	text-decoration : none;
}
#sidebar a:hover {
	color:#2C5394;
	font-weight:bold;
}

.sidebar_active{
	color:#EBA707;
	font-weight:bold;}


ul#tagcloud {
	background-color: #F4F4F4;								
	width: 160px;
	border: 1px solid #BFBFBF;
	padding: 5px;
	text-align: center;
	margin: 2px 0px 0px 4px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 22px;
}
ul#tagcloud a {
	text-decoration:none;
}
ul#tagcloud a:hover {
	text-decoration:none;
	background-color:#B3B3B3;
	color:#FFFFFF;
}

ul#tagcloud li {
	list-style:none;
	background:none;
	margin:0px;
	padding:2px;
	border:none;
	display:inline;}

.pg1-1 {
	color:#AA3406;
	font-size: 16px;
}
.pg1-2 {
	font-size: 14px;
	color:#070089;
}
.pg1-3 {
	font-size: 12px;
	color:#BF2470;
}
.pg1-4 {
	font-size: 10px;
	color:#333333;
}
.pg1-5 {
	font-size: 8px;
	color:#FF3300;
}

	
#content {
	float : right;
	width : 800px;
}


/* A droite */

#right_side{
	margin-right:0px;
	float:right;
	width:160px;
	margin:0px;
}

#right_side ul {
	padding : 0 0 5px 0;
	margin : 0;
	list-style : none;
}
#right_side li li {
	margin : 10px 10px 5px 20px;
	line-height : 18px;
	padding-left : 15px;
	border-bottom : 1px dashed #bdbdbd;
	background : url(images/img04.jpg) no-repeat left 50%;
}
#right_side li ul {
	margin-bottom : 1em;
	list-style : none;
}
#right_side li .social {
	text-align:center;
	line-height : 18px;
	padding-left : 0;
	border-bottom : 0;
	background : none;
}
#right_side li .liste_cogniticiens {
	text-align:left;
	margin : 10px 0px 5px 0px;
	line-height : 18px;
	padding-left : 0;
	border-bottom : 0;
	background : none;
}
#right_side li .social_cog {
	margin : 10px 0px 5px 0px;
	line-height : 15px;
	border-bottom : 0;
	background : none;
	background : url(images/img04.jpg) no-repeat left 50%;
}
#right_side li .google_plus {
	text-align:center;
	margin : 10px 0px 5px 0px;
	line-height : 18px;
	padding-left : 0;
	border-bottom : 0;
	background : none;
}


#right_side h2 {
	text-align:center;
	padding : 7px 0px 7px 0px;
	background-color:#333333;
	color:#FFF;
	margin-right:-9px;
	border-bottom:2px solid #999;
	border-right:2px solid #999;
}
#right_side a {
	text-decoration : none;
}
#right_side a:hover {
	color:#2C5394;
	font-weight:bold;
}


.g-plusone{
	margin-left:15px;}
	
/* Content */
.post {
	width:630px;
	float:left;
	margin : 0 0 30px 0;
}
.post .title {
	margin : 0;
	margin-bottom:15px;
	width:590px;
	border-left:5px solid #274358;
	background-color:#4b8ef9;
	color:#FFF;
	/*border-top : 5px solid #000000;*/
	padding : 7px 25px 7px 10px;
}

.subtitle{
	display:block;
	font-weight:bold;
	color:#274358;
	margin:10px 0 10px 0;
	padding-top:5px;
	font-size:1.2em;
	border-bottom:3px solid #274358 ;
	width:608px}
	
.post .entry {
	padding : 0 20px;
}
.post .meta {
	font-weight : bold;
	padding-left : 20px;
}
.post .byline {
	margin : 0;
	padding-left : 20px;
}

.entry div, .entry p{
	text-align:justify;}

	
.blockquote{
	display:block;
	width:550px;
	background-color: #F4F4F4;
	border: 1px solid #BFBFBF;	

	padding:10px;
	text-align:justify;
	font-style:italic;
	margin:5px 0px 0px 0px;
	
}	

#chartdiv{
	width:600px;
	height:200px;}
	

/* Accueil */
.image_presentation_index{
	float:right;
	width:80px;
	padding-left:10px;
	padding-top:5px;
}


/* Flux RSS */
.titre_flux{
	font-size:1.1em;
	font-weight:bold;
}

/* Sites webs */

.bloc_images{
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
	margin-bottom:15px;
	width:585px;
	text-align:center;}
.bloc_images img{
	vertical-align:middle;}
img.image_presentation{
	width:175px;
	margin:5px;
	border:3px solid #000;
}

a:link.acces_site, a:visited.acces_site{
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:5px;
	height:20px;
	background-color:#C2CCD3;
	border:1px solid #515B77;
	font-weight:bold;
	width:250px;
	text-align:center;
	font-size:13px;
	text-decoration:none;
	border-radius: 5px;
}

a:hover.acces_site{
	background-color:#FFF;
}


/* Contact */
fieldset {
	margin : 10px 0 10px 0;
	padding : 10px;
}

.description{
	font-weight:bold;
	text-decoration:underline;}

#contact_form label {
	display : block;
	width : 20%;
	float : left;
	text-align : left;
}
#contact_form input, #contact_form select, #contact_form textarea {
	border : 1px solid #ccc;
}
#contact_form input:hover, #contact_form select:hover, #contact_form textarea:hover {
	background-color : #ddddff;
	border : 1px solid #999;
}
#contact_form input:focus, #contact_form select:focus, #contact_form textarea:focus {
	background-color : #ddeeff;
	border : 1px solid #999;
}
#contact_form input:active, #contact_form select:active, #contact_form textarea:active {
	background-color : #ddeeff;
	border : 1px solid #999;
}

.mail_ok {
	border : 1px solid #48893d;
	padding : 10px;
	font-weight : bold;
}

/* CV */
.cv_download{
	border : 1px solid #515B77;
	padding : 5px;
	font-weight : bold;
	width:250px;}
.cv_download img{
	vertical-align:middle;}
.cv_bloc_title{
	color:#444444;
	border-left : 5px solid #485759;
	background-color:#F3F9FF;
	padding : 7px 0 7px 7px;}
.cv_bloc_texte{
	padding-bottom:10px;}
.cv_bloc_texte span{
	display:block;
	margin-left:15px;}
.cv_bloc_texte div{
	margin-left:15px;}
.clearboth{
	clear:both;}

		
/* Search */
#search form {
	margin-bottom : 1.8em;
	padding : 0;
}
#search fieldset {
	margin-left : 20px;
	padding : 0;
	border : none;
}
#search #s {
	width : 160px;
}

#footer {
	clear : both;
	width : 760px;
	height : 50px;
	margin : 0 auto 30px auto;
	color:#000;
}
#footer p {
	margin : 0;
	padding : 5px 0 0 0;
	text-align : center;
	line-height : normal;
	font-size : smaller;
}
#footer a {
	color : #000;
}
